html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f4f6f8;
}
